body {
	color: #0066cc;
	font-family: 'Raleway', sans-serif;
}
.fdo {
	background-image: url(/img/bg-login.jpg);
	height: 100vh;
	background-position: top center;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

h1 {
  	font-family: Merriweather;
	font-size: 4rem;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.13;
	letter-spacing: normal;
	text-align: left;
	color: white;
	margin: auto;
	padding: 25px 15px 25px 15px;
	border-top: 1.5px solid white;
	border-bottom: 1.5px solid white;
}

h1 > strong {
	font-weight: 900;
}

h3 {
	font-weight: 300;
	font-size: 1rem;
	padding: 15px 10px;
}

h3 > strong {
	font-weight: 600;
}

.logo{
	color: #006ECC;
	text-align: left;
	width: auto;
	margin: 5px;
}

.logo > img{
	width: 150px;
}

.logo > p{
	font-weight: 600;
	font-size: .9rem;
}


.caja_blanca {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: white;
	border-radius: 8px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	text-align: center;
	height: 400px;
	width: 400px;
	margin-right: 100px;
	margin-left: 50px;
	line-height: normal;
}

.caja_blanca_top{
	display: flex;
	padding-top: 15px;
}

.caja_blanca_top > img{
	height: 200px;
}

.caja_celeste {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #BBDFFD;
	height: 175px;
	width: 400px;
	margin: auto 0 0 0;
	border-radius: 0 0 8px 8px;
}

.caja_texto {
	margin: auto;
	align-items: center;
}

.btn {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	background-color: transparent;
	color: #006ECC;
	border-radius: 35px;
	height: 42px;
	width: 200px;
  	border: solid 1.5px  #006ECC;
	transition-property: background-color;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}

.btn:hover {
	background-color: #006ECC;
	color: white;
  }
